<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>hsa-m</key>
	<dict>
		<key>next</key>
		<string>http://www.hs-augsburg.de/~scholze/sonstiges/demo-data-next.xml</string>
		<key>current</key>
		<string>http://www.hs-augsburg.de/~scholze/sonstiges/demo-data.xml</string>
	</dict>
</dict>
</plist>
